/* Structure */
.example-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4%;
}

.mat-card-header { justify-content: center; }

.mat-card-header-text {
  position: center;
  text-align: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child {
  margin-bottom: 10px;
}

.button-row1 {
  margin: 10px 0;
}
.button-row2 {
  float:right;

}

.button-row{
  margin-top: 10px;
}

.mat-flat-button {
  margin: 5px;
}

.mat-expansion-panel{
  margin: 10px;
}

