<mat-toolbar class="position" color="primary" *ngIf="isLoggedIn$">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
            (mouseover)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <span (mouseleave)="menuTrigger.closeMenu()">
      <button mat-menu-item (click)="home()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </span>
    </mat-menu>
  </span>
  <span class="fill-remaining-space">UNIVER</span>
  <span align="end">
    <button mat-button align="end" (click)="subjectsNavigation()">Subjects</button>
  </span>
  <span align="end">
    <button mat-button align="end" (click)="groupsNavigation()">Groups</button>
  </span>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
