<div class="example-container mat-elevation-z8">
  <div class="mat-elevation-z8">
    <div align="center">
      <span class="fill-remaining-space colorTitle mat-title">Subjects</span>
    </div>
    <div class="mat-title" align="begin">

    </div>
    <div class="button-row" align="center">
      <button type="submit" mat-flat-button class="button-row" color=primary (click)="loadTable()">Update table
      </button>
      <button type="submit" mat-flat-button class="button-row" color=primary (click)="addSubject()" *ngIf="role == 'admin'">
        Add subject</button>
    </div>

    <table mat-table [dataSource]="subject" class="example-table">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="teacherName">
        <th mat-header-cell *matHeaderCellDef>Teacher</th>
        <td mat-cell *matCellDef="let row">{{row.user.name}}</td>
      </ng-container>
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef>Group Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-button (click)="showGroups(row.id)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-button *ngIf="role == 'admin'"
                  (click)="addGroupToSubject(row.id )">
            <mat-icon>library_add</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="changeTeacher">
        <th mat-header-cell *matHeaderCellDef >Change teacher</th>
        <td mat-cell *matCellDef="let row" >
          <button mat-button (click)="changeSubjectTeacher(row)" *ngIf="role == 'admin'">
            <mat-icon>build</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
