<div class="example-container mat-elevation-z8">
  <div class="mat-elevation-z8">
    <div align="center">
      <span class="fill-remaining-space colorTitle mat-title">Admin panel</span>
      <br/>
    </div>
    <div class="mat-title" align="begin">

    </div>
    <div class="button-row" align="center">
      <button type="submit" mat-flat-button class="button-row" color=primary (click)="confirmStudents()">Confirm
        students
      </button>
      <button type="submit" mat-flat-button class="button-row" color=primary (click)="setTeacher()">Set
        a teacher
      </button>
    </div>
    <div class="button-row" align="center">
      <button type="submit" mat-flat-button class="button-row" color=primary
              (click)="subjects()">Subjects
      </button>
      <button type="submit" mat-flat-button class="button-row" color=primary (click)="groups()">Groups
      </button>
    </div>
    <div class="button-row" align="center">
      <button type="submit" mat-flat-button class="button-row" color=primary
              (click)="createSpecialty()">Create Specialty
      </button>
    </div>


  </div>
</div>
